</div>
    
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
		<script src="/js/notification-filters.js"></script>
		<script src="/js/api-stats.js"></script>
		<script src="/js/notifications-display.js"></script>
		<script src="/js/filter-setup.js"></script>
		<script src="/js/main.js"></script>		
</body>
</html>