<!-- Notification List -->
<div class="card notification-card">
    <div class="card-header">
        <h5><%= t.latestNotifications %></h5>
    </div>
    <div class="card-body">
        <div id="notificationsList">
            <p class="text-center"><%= t.selectConnectionToView %></p>
        </div>
    </div>
</div>